@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
input, tr{
    vertical-align: middle;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

label {
    font-weight: bold;
}

.color-crimson{
    color: crimson;
}